.heroSection {
    position: relative;
    margin: 50px;
    margin-top: 150px;
    left: 0px;
    right: 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title {
    color: hotpink;
    font-family: verdana, Helvetica, sans-serif;
    font-size: 75px;
}

.signUpButton {
    background-color: hotpink;
    color: white;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 35px;
    border-radius: 7px;
    height: 75px;
    width: 175px;
    margin: 25px;
}

.signUpButton:hover {
    border: 2px;
    border-style: solid;
    border-color: gold;
}