.text {
    color: hotpink;
}

.movieDetails {
    background-color: rgb(22, 22, 22);
    border-color: goldenrod;
    border-style: solid;
    border-radius: 20px;
    width: 95%;
    margin: auto;
    margin-top: 5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.movieInfo {
    margin: 5%;
    margin-top: 0%;
    margin-bottom: 0;
}

.moviePoster {
    width: 400px;
    height: 600px;
    margin: auto;
    margin-top: 50px;
}

.teaserTrailers {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
}

.trailerTitle {
    margin-left: 100px;
}

.trailerTile {
    margin: auto;
}

.trailerThumbnail {
    border-radius: 10px;
    border-color: goldenrod;
    border-style: solid;
    margin-left: 50px;
    width: 80%;
}

.trailerName {
    margin-left: 50px;
}

.productionCompanies {
    margin-left: 70px;
    margin-bottom: 40px;
}

.backButton {
    background-color: hotpink;
    color: white;
    font-size: 35px;
    border-radius: 15px;
    width: 200px;
    height: 75px;
    margin: 10px;
    margin-top: 40px;
}

.backButton:hover {
    border-style: solid;
    border-color: goldenrod;
    border: 3px;
}

.buyButton {
    background-color: hotpink;
    color: white;
    font-size: 35px;
    border-radius: 15px;
    width: 150px;
    height: 65px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2%;
}

.altBuyButton {
    background-color: hotpink;
    color: white;
    font-size: 35px;
    border-radius: 15px;
    width: auto;
    height: 65px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2%;
}

.buyButton:enabled:hover {
    border-style: solid;
    border-color: goldenrod;
    border: 3px;
}

.buyButton:disabled {
    background-color: rgb(204, 86, 145);
    color: rgb(210, 210, 210);
}