.movie-detail-container {
    padding: 20px;
    text-align: center;
    color: #333; 
    background-color: #f2f2f2; 
    border-radius: 8px;
    max-width: 800px;
    margin: 40px auto;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1); 
}

.movie-title {
    font-size: 1.8rem; 
    margin-bottom: 20px;
    color: #2c3e50; 
}

.movie-poster {
    width: 100%;
    max-width: 350px;
    border-radius: 8px;
    margin-bottom: 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3); 
}

.movie-overview {
    font-size: 1.2rem;
    line-height: 1.6;
    margin-bottom: 20px;
    color: #34495e; 
}

p {
    font-size: 1rem;
    margin: 10px 0;
    color: #7f8c8d; 
}

strong {
    color: #e74c3c; 
}

.movie-genres {
    margin-top: 10px;
    font-size: 1rem;
    color: #16a085; 
}

.movie-detail-container p:last-child {
    margin-bottom: 0;
}

.button-container {
    display: flex; 
    justify-content: left;
    gap: 10px; 
    margin-top: 20px;
}

.button-container button {
    padding: 12px 25px; 
    font-size: 1.1rem;
    font-weight: bold;
    color: white;
    background-color: #e67e22; 
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.button-container button:hover {
    background-color: #d35400; 
}

.genres-sidebar .genres-title {
    color: #2c3e50; 
    font-size: 2.5rem;
}